<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<nav class="docs-navbar-header">
  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
    <img class="docs-angular-logo" src="https://idukay.net/images/ddcba591.idukay-topbar-logo.svg" alt="Idukay">
    <span>Scrum Service</span>
  </a>
  <ng-container *ngIf="loggedIn">
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/rooms">Rooms</a>
    <a mat-button class="docs-navbar-hide-small docs-button" (click)="logout()">Log out</a>
    <span>{{email}}</span>
  </ng-container>
  <ng-container *ngIf="!loggedIn">
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/auth/login">Log in</a>
    <a mat-button class="docs-navbar-hide-small docs-button" routerLink="/auth/signup">Sign up</a>
  </ng-container>


  <div class="flex-spacer"></div>
  <a mat-icon-button class="docs-button docs-navbar-show-small" href="https://github.com/angular/components"
    aria-label="GitHub Repository">
  </a>
</nav>
<nav class="docs-navbar docs-navbar-show-small">
  <ng-container *ngIf="loggedIn">
    <a mat-button class="docs-navbar-link" routerLink="/rooms">Rooms</a>
    <a mat-button class="docs-navbar-link" (click)="logout()">Log out</a>
    <span>{{email}}</span>
  </ng-container>
  <ng-container *ngIf="!loggedIn">
    <a mat-button class="docs-navbar-link" routerLink="/auth/login">Log in</a>
    <a mat-button class="docs-navbar-link" routerLink="/auth/signup">Sign up</a>
  </ng-container>
</nav>
