<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-6 mx-auto my-5">
      <h2 class="text-center">Log in to Idukay Scrum Service</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <mat-form-field class="w-100">
            <input matInput placeholder="E-mail" formControlName="email" autofocus>
            <mat-error *ngIf="f.email?.hasError('email') && !f.email?.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="f.email?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput placeholder="Password" formControlName="password" type="password" appPasswordToggle>
            <mat-error *ngIf="f.password?.hasError('required')">
                Password is required
            </mat-error>
          </mat-form-field>
          <div class="row">
            <div class="col-12 col-lg-4">
              <button [disabled]="!loginForm.valid" appButtonConfirm>Log in</button>
            </div>
          </div>
        </div>
      </form>
      <div class="text-center row">
        <a routerLink="/auth/signup" class="log-link col text-left">Don't have an account?</a>
      </div>
    </div>
  </div>
</div>
